.tina {
	align: center;
}

.row1 {
  margin-right: -15px;
  margin-left: -15px;
  background-color: #222222;
}

.portfoliopic {
	text-align: center;
}

.section-heading-tina {
	color:#00ADB5;
}

.text-color-tina {
	color:#393E46;
}

.small-text-color-tina {
	color:#EEEEEE;
}